.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  width: 80%; /* Ajusta el ancho del carrusel al 80% del dispositivo */
  height: auto;
  margin: 0 auto; /* Centra el carrusel horizontalmente */
  border-radius: 10px; /* Añade bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade una sombra */
  scrollbar-width: none; /* Oculta la barra de desplazamiento en Firefox */
}

.carousel::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento en Chrome, Safari y Opera */
}

.carousel-item {
  flex: none;
  scroll-snap-align: start;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px; /* Añade bordes redondeados a las imágenes */
}

/* Media query para hacer el carrusel responsivo */
@media (max-width: 768px) {
  .carousel {
    width: 90%; /* Ajusta el ancho del carrusel en pantallas pequeñas */
  }
}