@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #4CAF50; /* Cambia el color de fondo */
  border-bottom: 1px solid #388E3C;
  font-family: 'Roboto', sans-serif; /* Aplica la fuente a la barra de navegación */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Añade una sombra */
}

.navbar-left {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-left a {
  text-decoration: none;
  color: white; /* Cambia el color del texto */
  font-size: 1.5rem;
}

.navbar-left a:hover {
  color: white; /* Cambia el color del texto al pasar el mouse */
  text-decoration: none; /* Elimina la subrayado */
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right a,
.navbar-right .custom-google-button,
.navbar-right div {
  margin-left: 1rem; /* Agrega margen a la izquierda de cada elemento */
  padding: 10px 15px; /* Añade padding para crear una caja alrededor del texto */
  border-radius: 5px; /* Añade bordes redondeados */
  transition: background-color 0.3s ease, color 0.3s ease; /* Añade una transición suave */
  text-decoration: none; /* Elimina la subrayado */
  color: white; /* Cambia el color del texto */
}

.navbar-right a:hover {
  background-color: #388E3C; /* Cambia el color de fondo al pasar el mouse */
  color: #FFD700; /* Cambia el color del texto al pasar el mouse */
}

.custom-google-button {
  background-color: #4285f4;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; /* Añade una transición suave */
}

.custom-google-button:hover {
  background-color: #357ae8;
  color: #FFD700; /* Cambia el color del texto al pasar el mouse */
}

.user-menu {
  position: relative;
  display: inline-block;
}

.user-name {
  cursor: pointer;
  color: white; /* Cambia el color del texto */
}

.user-dropdown {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px; /* Añade bordes redondeados */
  overflow: hidden; /* Oculta el contenido que se desborda */
}

.user-menu:hover .user-dropdown {
  display: block;
}

.user-dropdown .custom-google-button {
  width: 100%;
  text-align: left;
  padding: 10px;
  border: none;
  background-color: #4285f4;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; /* Añade una transición suave */
}

.user-dropdown .custom-google-button:hover {
  background-color: white;
  color: #4285f4; /* Cambia el color del texto al pasar el mouse */
}

/* Media query para hacer el navbar responsivo */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-left,
  .navbar-right {
    width: 100%;
    text-align: center;
    margin: 0.5rem 0;
  }

  .navbar-right {
    flex-direction: column;
  }

  .navbar-right a,
  .navbar-right .custom-google-button,
  .navbar-right div {
    margin-left: 0;
    margin-bottom: 0.5rem;
  }
}